{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.contact.enable }}
{{ "<!-- contact -->" | safeHTML }}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-1 col-md-5">
               {{ with $data.contact.title }} <h2 class="section-title">{{ . }}</h2> {{ end }}
                <ul class="pl-0">
                    {{ range $data.contact.contactList }}
                    {{ "<!-- contact items -->" | safeHTML }}
                    <li class="d-flex mb-30">
                        <i class="round-icon mr-3 {{ .icon }}"></i>
                        <div class="align-self-center font-primary">
                            <p>{{ .listItem1 }}</p>
                            <p>{{ .listItem2 }}</p>
                        </div>
                    </li>
                    {{ end }}
                </ul>
            </div>
           
        </div>
    </div>
</section>
{{ "<!-- /contact -->" | safeHTML }}
{{ end }}